.alpha__img {
    max-width: 720px;
}

.alpha__img img {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    filter: brightness(0.6);
}

.alpha__img-adaptive {
    display: none;
    max-width: 720px;
}

.alpha__img-adaptive img {
    width: 100%;
    filter: brightness(0.6);
}

.alpha {
    margin: 0;
    background: rgba(128, 128, 128, 0.067);
    position: relative;
}

.alpha .container {
    padding: 120px 0;
}

.alpha .row {
    width: 50%;
}

.alpha__descr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 720px;


}

.alpha__descr-items {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}




.alpha__descr p:nth-child(1) {
    background-color: rgb(255, 255, 255);
    color: #333;
    /* border-radius: 32px; */
    width: 250px;
    text-align: center;
    padding: 3px 3px;
    font-size: 14px;
}

.descr__p {
    color: rgba(255, 255, 255, .85);
    font-size: 20px;
    max-width: 500px;
}

.open__modal {
    width: 200px;
    height: 45px;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.1rem;
    background-color: white;
    color: black;
    border: none;
    /* border-radius: 8px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open__modal:hover {
    background-color: #555;
}

.alpha__descr-items h1 {
    font-size: 30px;
    margin: 49.6px 0;
    max-width: 400px;
}

/* ______________________________ADAPTIVE________________________ */

@media all and (max-width: 1350px) {
    .alpha .container {
        padding: 70px 10px;
    }


}

@media all and (max-width: 1210px) {
    .alpha .container {
        padding: 30px 10px;
    }

    .alpha__descr-items h1 {
        font-size: 30px;
        margin: 49.6px 0;
    }

    .descr__p {
        color: rgba(255, 255, 255, .85);
        font-size: 18px;
        max-width: 400px;
    }

}

@media all and (max-width: 1000px) {
    .alpha .container {
        padding: 10px 10px;
    }

    .alpha__descr-items h1 {
        font-size: 25px;
        margin: 30.6px 0;
        max-width: 300px;
    }

    .descr__p {
        color: rgba(255, 255, 255, .85);
        font-size: 16px;
    }

    .alpha .row {
        width: 100%;
    }

}

@media all and (max-width: 820px) {
    .alpha .row {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .alpha__descr-items {
        align-items: center;
        text-align: center;
    }

    .alpha__descr-items h1 {
        width: 100%;
    }


    .alpha__img {
        display: none;
    }

    .alpha__img-adaptive {
        display: block;
    }

    br {
        display: none;
    }

    .open__modal {
        margin: 40px auto;
    }

}

@media all and (max-width: 420px) {
    .descr__p {
        color: rgba(255, 255, 255, .85);
        font-size: 14px;
        width: 300px;
        text-align: center;
    }


    .alpha__descr p:nth-child(1) {
        background-color: white;
        /* border-radius: 32px; */
        width: 250px;
        text-align: center;
        padding: 3px 3px;
        font-size: 14px;
        margin: 0 auto;
    }

    .alpha__descr-items h1 {
        font-size: 20px;
        margin: 30.6px 0;
        text-align: center;

    }

    .open__modal {
        margin: 30px auto;
    }


}